*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    padding: 16px 0;
    background-color: #122f2e;
    color: #d28410;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    display: inline;
    margin-left: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

header li a{
    color:#d28410;
    text-decoration: none;
}

.container{
    width: 1366px;
    margin: 0 auto 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    height: 260px;
    width: 100%;
}

.articles article{
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2,
.articles article{
    margin-bottom: 16px;
}
.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}


.articles article a{
    background-color: blue;
    color: aliceblue;
    text-decoration: none;
    padding: 8px;
    display: inline-block;
    font-weight: 500;
    margin-top: 8px;
}

.articles article a:hover{
    text-decoration: underline;
}

#sports{
    background-color: rgba(0, 255, 0 , 0.1);
}

#economy{
    background-color: #f8f59f;
}

#economy .articles article a{
    background-color: #d28410;
}